<li id="micropost-<%= entry.id %>">
   <div class="jumbotron">
   <%= link_to gravatar_for(entry.user, size: 50), entry.user %>
  <span class="user"><%= link_to entry.user.name, entry.user %></span>
    <p><span class="content"><%= entry.title %></span></p>
  <span class="timestamp">
    Posted <%= time_ago_in_words(entry.created_at) %> ago.
  </span>
  <span class="action_entry" style="float: right;"> 
    <button  type="button" class="btn btn-primary"><%= link_to "Detail", entry %></button>
    <% if logged_in? &&  current_user?(entry.user)%>
    <button type="button" class="btn btn-danger"><%= link_to "Delete", "#" %></button>
    <%end%>
  </span>
  <div style="clear: both;"></div>
  </div>
  
  
</li>
